.ilw_intro {
	display: block;
	margin: 15px 0 15px;
}

.ilw_widget_top {
	cursor: move;
	background: #fafafa;
	color: #23282d;
	line-height: 1.4em;
	font-size: 13px;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.ilw_widget_top a.widget-action, .ilw_widget_top a.widget-action:hover {
	box-shadow: 		none;
	-moz-box-shadow: 	none;
	-webkit-box-shadow: none;
	text-decoration: none;
	outline: 0;
}

.ilw_sortable {
	padding-bottom: 10px;
	}
	.ilw_widget .widget-title h4 {
		padding: 8px;
		font-weight: 400;
	}
	.ilw_widget .ilw_widget_top a.widget-action:after,
	.ilw_widget .ilw_widget_top a.widget-action:after:focus {
		right: 0;
		content: "\f140";
		border: none;
		background: 0 0;
		font: 400 20px/1 dashicons;
		speak: none;
		display: block;
		text-indent: 0;
		text-align: center;
		position: relative;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-decoration: none!important;
		color: #777;
		}
		.ilw_widget.open .ilw_widget_top a.widget-action:after {
			content: "\f142" !important;
		}

	.ilw_icon {
		float: left;
		width: 30%;
		margin-left: 0;
		margin-right: 1%;
	}
	.ilw_link {
		float: right;
		width: 68%;
		margin-left: 1%;
		margin-right: 0;
	}

	.ilw_widget .widget-inside {
		padding-top: 15px;
		}
		.ilw_widget .widget-inside label.ilw_item {
			padding-right: 15px;
		}

@media(min-width: 783px){
	.ilw_widget .ilw_widget_top a.widget-action:after,
	.ilw_widget .ilw_widget_top a.widget-action:after:focus {
		padding: 12px 12px 13px 4px;
	}
}

@media(max-width: 782px){
	.ilw_widget .ilw_widget_top a.widget-action:after,
	.ilw_widget .ilw_widget_top a.widget-action:after:focus {
		padding: 17px 12px 13px 4px;
	}
}
