.ilw_label {
	display: block;
	height: 19px;
}
.ilw_control_group {
	overflow: hidden;
	margin: 5px 0;
	}
	.ilw_control {}
		.ilw_icon {
			float: left;
			width: 29%;
			clear: both;
		}
		.ilw_link {
			float: right;
			width: 69%;
		}
.ilw_intro, .ilw_reference, .ilw_credit {
	display: block;
	}
	.ilw_intro {
		margin: 0 0 10px;
	}
	.ilw_reference {
		margin: 15px 0 0;
	}
	.ilw_credit {
		margin: 0 0 15px;
	}